<!DOCTYPE html>
<html ng-app="Barkeep">
<head>
	{% load staticfiles %}
	<title>Drink Maker</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{% static 'drink_maker/css/sidebar-left.css' %}" rel="stylesheet">
	<link href="{% static 'drink_maker/css/app.css' %}" rel="stylesheet">
</head>
<body ng-controller="MainCtrl">
	<aside class="sidebar-left">

		<a class="company-logo" href="">Logo</a>

		<div class="sidebar-links">
			<a class="link-blue cur-point" ng-class="{selected: view.value == 'home'}" ng-click="changeView('home')">
				<i class="fa fa-beer"></i>Drink Maker
			</a>
			<a class="link-red cur-point" ng-class="{selected: view.value == 'recipe'}" ng-click="changeView('recipe')">
				<i class="fa fa-edit"></i>Recipe Editor
			</a>
			<a class="link-green cur-point" ng-class="{selected: view.value == 'liquid'}" ng-click="changeView('liquid')">
				<i class="fa fa-tint"></i>Liquid Editor
				</a>			
			<a class="link-yellow cur-point" ng-class="{selected: view.value == 'valve'}" ng-click="changeView('valve')">
				<i class="fa fa-cogs"></i>Valve Config
			</a>
		</div>

	</aside>
	<div class="main-content" ng-switch="view.value">

		<h1 ng-bind="title"></h1>
		<div class="drink-maker-container" ng-switch-when="home">
			<div class="dm-recipes-container" id="dmRecipesContainer">
				<div class="row">
					<div class="col-sm-3 col-xs-12" ng-repeat="recipe in readyRecipes">
						<div bk-recipe="make" recipe="recipe" liquids="liquids" recipes="recipes" update-fn="updateReadyRecipes()"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="recipe-editor-container" ng-switch-when="recipe">
			<button class="btn btn-success" ng-click="addRecipe()">Add Recipe</button>
			<br><br>
			<div class="row">
				<div class="col-md-3 col-xs-12" ng-repeat="recipe in recipes" bk-recipe="display" recipe="recipe" liquids="liquids" recipes="recipes" update-fn="updateReadyRecipes()">
				</div>
			</div>
		</div>
		<div class="liquid-editor-container" ng-switch-when="liquid">
			<div class="row">
				<div class="liquid-assign-container col-lg-8 col-md-8 col-sm-12">
					<div class="row">
						<div bk-liquid-valve ng-repeat="valve in valves" liquids="liquids" valve="valve"></div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12" class="liquid-display-container">
					<!-- Add Liquid -->
					<div ng-if='addingLiquid' class="add-liquid-form">
						<h3>
							<button class="btn btn-danger text-right" ng-click="openAdd(false)">
								Cancel
							</button>
							<button class="btn btn-success text-right" ng-click="addLiquid(liquidForm)">
								Save
							</button>
						</h3>
						<div class="form-group" ng-class="{'has-error': liquidError.value}">
							<input type="text" class="form-control" id="liquidName" ng-model="liquidForm.name" placeholder="Name">
						</div>
						<div class="form-group">
							<input type="number" class="form-control" id="liquidDensity" ng-model="liquidForm.density" placeholder="Density (Optional)">							
						</div>
					</div>
					<div ng-if='!addingLiquid'>
						<h3>Liquids 
							<button class="btn btn-success text-right" ng-click="openAdd(true)">
								<i class="fa fa-plus"></i>
							</button>
						</h3>
					</div>
					<div bk-liquid ng-repeat="liquid in liquids" liquid="liquid"></div>
				</div>				
			</div>
		</div>
		<div class="valve-config-container" ng-switch-when="valve">
		</div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js"></script>
<script src="{% static 'drink_maker/js/ajaxSetup.js' %}"></script>
<script src="{% static 'drink_maker/js/app.js' %}"></script>
</body>
</html>