.drink-maker-container {
	width: 80%;
}

.dm-recipe-container p {
    margin: 0 0 0 25px;
}
.dm-recipe-container {
	height: 200px;
}

.bold {
    font-weight: bold;
}

.cur-point {
	cursor: pointer;
}


.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.add-liquid-form input {
	max-width: 300px;
	margin-bottom: 10px;
}

@media (max-width: 900px) {
	.drink-maker-container {
		width: 100%;
	}
}

.recipe-title {
	line-height: 35px
}

